<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <script type="text/javascript">
      $('select').select2();
    </script>

    <style>
      body { 
          padding-top: 50px;
          background-image: url(<%= asset_path 'mountains.jpg' %>);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: bottom;
      }


      .starter-template {
          padding: 40px 15px;
          text-align: center;
      }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">CU FCQ</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/instructors">Instructors</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/departments">Departments</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">




      <div class="starter-template">
        <h1>CU FCQ</h1>
        <p class="lead">This is a website designed to help you find everything about CU teachers and courses, and their past track records.</p>

        


        <%= form_tag(instructors_path, :method => "get", id: "search-form") do %>
          <%= select_tag(:city_id) %>
          <%= options_for_select([['Lisbon', 1], ['Madrid', 2]]) %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
   
      <button class="button button-red" id="search-button">Search</button>


              <select id="index" class="button">
          <option value="instructors" name="instructors">Instructors</option>
          <option value="courses">Courses</option>
          <option value="departments">Departments</option>
        </select>


      </div>

    </div><!-- /.container -->

</body></html>