<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
      body { 
          padding-top: 50px;
          background-image: url(<%= asset_path 'mountains.jpg' %>);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: bottom;
      }


      .starter-template {
          padding: 40px 15px;
          text-align: center;
      }
    </style>

  </head>

  <body>

    <div class="container">

      <div class="starter-template">
        <h1>CU FCQ</h1>
        <p class="lead">This is a website designed to help you find everything about CU teachers and courses, and their past track records.</p>


<!--         <select id="index" class="button">
          <option value="instructors" name="instructors">Instructors</option>
          <option value="courses">Courses</option>
          <option value="departments">Departments</option>
        </select> -->

        
          <%= form_tag('/', :method => "get", id: "search-form") do %>
          <%= select_tag(:option,options_for_select([['instructors', '/instructors'], ['Courses', '/courses'],['Departments','/departments']])) %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
          <% end %>
   
      <button class="button button-red" id="search-button">Search</button>

      </div>

    </div><!-- /.container -->

</body></html>