<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">

    <style>
      body { 
          background-image: url(<%= asset_path 'mountains.jpg' %>);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: bottom;
      }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">CU FCQ</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/instructors">Instructors</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/departments">Departments</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>CU FCQ</h1>
        <p class="lead">This is a website designed to help you find everything about CU teachers and courses, and their past track records.</p>
        

        <%= form_tag(instructors_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <%= submit_tag "Search" %>
        <% end %>
        <%= radio_button_tag("search field",:search_instructor, true) %>
        <%= label_tag(:search_instructor, "Search Instructor") %>
        <%= radio_button_tag("search field",:search_class,false) %>
        <%= label_tag(:search_class, "Search Class") %>

      </div>

    </div><!-- /.container -->

</body></html>