<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
      body { 
          padding-top: 50px;
          background-image: url(<%= asset_path 'mountains.jpg' %>);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: bottom;
      }


      .starter-template {
          padding: 40px 15px;
          text-align: center;
      }



      form {
                width:500px;
                margin:50px auto;
      }
      .search {
                      padding:8px 15px;
                      background:rgba(50, 50, 50, 0.2);
                      border:0px solid #dbdbdb;
      }
      .button {
                      position:relative;
                      padding:3px 14px;
                      left:-8px;
                      border:2px solid #9BBBA3;
                      background-color:#207cca;
                      color:#000000;
      }
      .button:hover  {
                      background-color:#fafafa;
                      color:#207cca;
      }
    </style>

  </head>

  <body>

    <div class="container">

      <div class="starter-template">
        <h1>CU FCQ</h1>
        <p class="lead">This is a website designed to help you understand FCQs and past grade data for instructors, courses, and departments. Select a search option, type in a parameter and explore!</p>

          <%= form_tag('/', :method => "get", id: "search-form") do %>


    <%= label_tag :option, "Instructors", :class => "radio-inline"%>
    <%= radio_button_tag :option, "/instructors", :checked => true %>
    <%= label_tag :option, "Courses", :class => "radio-inline"  %>
    <%= radio_button_tag :option, "/courses" %>
    <%= label_tag :option, "Departments", :class => "radio-inline"  %>
    <%= radio_button_tag :option, "/departments" %>







          <p> <div class="input-group">
          <a href ="#" data-toggle="tooltip" data-placement="top" title="Tooltip on top" ></a>
          <%= text_field_tag :search, params[:search], :class => "form-control" %>
          <span class="input-group-btn" > 
          <%= submit_tag "Search", :name => nil, :class=> "btn btn-default" %>
          </span>  
      </div> </p>
          <% end %>
      </div>

    </div>

</body></html>

