<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="http://code.highcharts.com/highcharts.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <title><%= @instructor.name %></title>
    <div class="container-fluid">
      <div class="row">
        <div class="page-header">

          <h1><%= @instructor.name %>
          <br><small>Department: <%= link_to @instructor.department.long_name, @instructor.department %></small>
          <br><small><abbr title="Number of FCQs associated with this course since Fall 2008. Includes recitations." >Sections Offered</abbr>: <b><%= @instructor.fcqs.count %></b></small>
          <br><small><abbr title="Number of instructors associated with this class since Fall 2008. Includes Teaching Assistants." >Courses Taught</abbr>: <b><%= @instructor.courses.count %></b></small>
          </h1>
        </div>
          <h1 class="page-header">Instructor Data</h1>

          <div id="container" style="min-width: 350px; height: 350px; margin: 0 auto">
          <b>Instructor Visualization</b>
            This graph shows the averaged results of fcq survey questions for every semester this instructor taught at CU. Hover over the graph for more details.
          <%= render 'instructors/instructor_graph' %>
          </div>
          <table class="table table-striped">
            <caption class="text-left"><b>Instructor Data</b>
            This table contains the averaged results of the fcq survey questions pertaining to this instructor.</caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Instructor</td>
                  <td><%= @instructor.name %></td>
                </tr>
                <tr>
                  <td>Intructor Type</td>
                  <td><abbr title="<%= @instructor.instr_group_flavor_text %>"> <%= @instructor.instr_group %> </abbr></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the instructors overall performance. All ratings are on a scale of 1 to 6. Average of all instructor associated FCQs." > Instructor Overall </abbr></td>
                  <td><%= @instructor.average_instructoroverall %> / 6.0</td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the instructor's effectiveness in encouraging interest in the subject. All ratings are on a scale of 1 to 6. Average of all instructor associated FCQs." > Instructor Effectiveness </abbr></td>
                  <td><%= @instructor.average_instreffective %> / 6.0</td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the instructor's availability for course-related assistance such as email, office hours individual appointments, phone contact, etc. All ratings are on a scale of 1 to 6. Average of all instructor associated FCQs." > Instructor Availability </abbr></td>
                  <td><%= @instructor.average_availability %> / 6.0</td>
                </tr>
                <tr>
                  <td><abbr title="Students rate this instructor's instrrespect for and professional treatment of all students regardless of race, color, national origin, sex, age, disability, creed, religion, sexual orientation, or veteran status. All ratings are on a scale of 1 to 6. Average of all instructor associated FCQs." > Instructor Respect </abbr></td>
                  <td><%= @instructor.average_instrrespect %> / 6.0</td>
                </tr>

                

                </tbody>
            </table>

          <h2 class="sub-header">Instructor FCQs</h2>
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#fcqs">View Instructor Fcqs</button>
      <div id="fcqs" class="collapse">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Semester</th>
                  <th>Course</th>
                  <th>Fcq Link</th> 
 		              <th>Level</th>
            		  <th>Instructor Overall</th>
            		  <th>Average GPA</th>
            		  <th>Percent Passed</th> 
                </tr>
              </thead>

              <tbody>
                <% @instructor.fcqs.each do |fcq| %>
                <tr>
                  <td><%= fcq.semterm %></td>
                  <td><%= link_to fcq.course.uppercase_name, course_path(fcq.course)%></td>
                  <td><%= link_to fcq.fcq_object, fcq_path(fcq)%></td>
 		              <td><%= fcq.rank_string%></td>                 
                  <td><%= fcq.instructor_overall_string%></td>
		              <td><%= fcq.avg_grd_string %></td>
                  <td><%= fcq.percentage_passed_string %></td> 
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          </div>
        </div>
    </div>
  
