<div id="header-wrapper">
	<div id="header" class="container">
		Instructor
	<div id="triangle-up"></div>
	</div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Instructor first:</strong>
  <%= @instructor.full_name %>
</p>
<div id="data">
<div class="box1">
<%= @instructor.average_instructor_overall %>
</div>
</div>
<p>
  <strong>Instructor last:</strong>
  <%= @instructor.instructor_last %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
