
<%= render 'layouts/titlecard' %>
<%= render 'layouts/scorecard' %>

<%= render 'layouts/graph' %>

Name: <%= @instructor.full_name %> <br>
Department: <%= @instructor.department %> <br>
Started Teaching: <%= @instructor.started_teaching %> <br>
<center>
<% @instructor.fcqs.each do |fcq| %>
<div id="Data" class=<%= fcq.color%>> <%= fcq.fcq_object%> </div> <br>
<% end %>
</center>








<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
