<h1>Listing fcqs</h1>

<table>
  <thead>
    <tr>
      <th>Yearterm</th>
      <th>Subject</th>
      <th>Crse</th>
      <th>Sec</th>
      <th>Instructor last</th>
      <th>Instructor first</th>
      <th>Formsrequested</th>
      <th>Formsreturned</th>
      <th>Courseoverallpctvalid</th>
      <th>Courseoverall</th>
      <th>Courseoverall sd</th>
      <th>Instructoroverall</th>
      <th>Instructoroverall sd</th>
      <th>Hoursperwkinclclass</th>
      <th>Priorinterest</th>
      <th>Instreffective</th>
      <th>Availability</th>
      <th>Challenge</th>
      <th>Howmuchlearned</th>
      <th>Instrrespect</th>
      <th>Crstitle</th>
      <th>Campus</th>
      <th>College</th>
      <th>Instr group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fcqs.each do |fcq| %>
      <tr>
        <td><%= fcq.yearterm %></td>
        <td><%= fcq.subject %></td>
        <td><%= fcq.crse %></td>
        <td><%= fcq.sec %></td>
        <td><%= fcq.instructor_last %></td>
        <td><%= fcq.instructor_first %></td>
        <td><%= fcq.formsrequested %></td>
        <td><%= fcq.formsReturned %></td>
        <td><%= fcq.courseOverallPctValid %></td>
        <td><%= fcq.courseOverall %></td>
        <td><%= fcq.courseOverall_SD %></td>
        <td><%= fcq.instructorOverall %></td>
        <td><%= fcq.instructorOverall_SD %></td>
        <td><%= fcq.hoursPerWkInclClass %></td>
        <td><%= fcq.priorInterest %></td>
        <td><%= fcq.instrEffective %></td>
        <td><%= fcq.availability %></td>
        <td><%= fcq.challenge %></td>
        <td><%= fcq.howMuchLearned %></td>
        <td><%= fcq.instrRespect %></td>
        <td><%= fcq.crsTitle %></td>
        <td><%= fcq.campus %></td>
        <td><%= fcq.college %></td>
        <td><%= fcq.instr_Group %></td>
        <td><%= link_to 'Show', fcq %></td>
        <td><%= link_to 'Edit', edit_fcq_path(fcq) %></td>
        <td><%= link_to 'Destroy', fcq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fcq', new_fcq_path %>
