<%= render 'layouts/fcq_titlecard' %>
<% if @fcq.bad? %>
	<%= render 'layouts/fcq_errorbar' %>
<% end %>
<%= render 'layouts/fcq_scorecard' %>
<%= render 'layouts/grade_pie' %>
<p id="notice"><%= notice %></p>