<p id="notice"><%= notice %></p>

<p>
  <strong>Yearterm:</strong>
  <%= @fcq.yearterm %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @fcq.subject %>
</p>

<p>
  <strong>Crse:</strong>
  <%= @fcq.crse %>
</p>

<p>
  <strong>Sec:</strong>
  <%= @fcq.sec %>
</p>

<p>
  <strong>Instructor last:</strong>
  <%= @fcq.instructor_last %>
</p>

<p>
  <strong>Instructor first:</strong>
  <%= @fcq.instructor_first %>
</p>

<p>
  <strong>Forms requested:</strong>
  <%= @fcq.forms_requested %>
</p>

<p>
  <strong>Forms returned:</strong>
  <%= @fcq.forms_returned %>
</p>

<p>
  <strong>Percentage passed:</strong>
  <%= @fcq.percentage_passed %>
</p>

<p>
  <strong>Course overall:</strong>
  <%= @fcq.course_overall %>
</p>

<p>
  <strong>Course overall sd:</strong>
  <%= @fcq.course_overall_SD %>
</p>

<p>
  <strong>Instructor overall:</strong>
  <%= @fcq.instructor_overall %>
</p>

<p>
  <strong>Instructor overall sd:</strong>
  <%= @fcq.instructor_overall_SD %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @fcq.total_hours %>
</p>

<p>
  <strong>Prior interest:</strong>
  <%= @fcq.prior_interest %>
</p>

<p>
  <strong>Effectiveness:</strong>
  <%= @fcq.effectiveness %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @fcq.availability %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @fcq.challenge %>
</p>

<p>
  <strong>Amount learned:</strong>
  <%= @fcq.amount_learned %>
</p>

<p>
  <strong>Respect:</strong>
  <%= @fcq.respect %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @fcq.course_title %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @fcq.campus %>
</p>

<p>
  <strong>College:</strong>
  <%= @fcq.college %>
</p>

<p>
  <strong>Instructor group:</strong>
  <%= @fcq.instructor_group %>
</p>

<%= link_to 'Edit', edit_fcq_path(@fcq) %> |
<%= link_to 'Back', fcqs_path %>
