<p id="notice"><%= notice %></p>

<p>
  <strong>Yearterm:</strong>
  <%= @fcq.yearterm %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @fcq.subject %>
</p>

<p>
  <strong>Crse:</strong>
  <%= @fcq.crse %>
</p>

<p>
  <strong>Sec:</strong>
  <%= @fcq.sec %>
</p>

<p>
  <strong>Instructor last:</strong>
  <%= @fcq.instructor_last %>
</p>

<p>
  <strong>Instructor first:</strong>
  <%= @fcq.instructor_first %>
</p>

<p>
  <strong>Formsrequested:</strong>
  <%= @fcq.formsrequested %>
</p>

<p>
  <strong>Formsreturned:</strong>
  <%= @fcq.formsReturned %>
</p>

<p>
  <strong>Courseoverallpctvalid:</strong>
  <%= @fcq.courseOverallPctValid %>
</p>

<p>
  <strong>Courseoverall:</strong>
  <%= @fcq.courseOverall %>
</p>

<p>
  <strong>Courseoverall sd:</strong>
  <%= @fcq.courseOverall_SD %>
</p>

<p>
  <strong>Instructoroverall:</strong>
  <%= @fcq.instructorOverall %>
</p>

<p>
  <strong>Instructoroverall sd:</strong>
  <%= @fcq.instructorOverall_SD %>
</p>

<p>
  <strong>Hoursperwkinclclass:</strong>
  <%= @fcq.hoursPerWkInclClass %>
</p>

<p>
  <strong>Priorinterest:</strong>
  <%= @fcq.priorInterest %>
</p>

<p>
  <strong>Instreffective:</strong>
  <%= @fcq.instrEffective %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @fcq.availability %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @fcq.challenge %>
</p>

<p>
  <strong>Howmuchlearned:</strong>
  <%= @fcq.howMuchLearned %>
</p>

<p>
  <strong>Instrrespect:</strong>
  <%= @fcq.instrRespect %>
</p>

<p>
  <strong>Crstitle:</strong>
  <%= @fcq.crsTitle %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @fcq.campus %>
</p>

<p>
  <strong>College:</strong>
  <%= @fcq.college %>
</p>

<p>
  <strong>Instr group:</strong>
  <%= @fcq.instr_Group %>
</p>

<%= link_to 'Edit', edit_fcq_path(@fcq) %> |
<%= link_to 'Back', fcqs_path %>
