<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>

  <div class="col-lg-6">
    <div>    
      <%= form_tag departments_path, :method => 'get' do %>  
      <%= hidden_field_tag :direction, params[:direction] %>  
      <%= hidden_field_tag :sort, params[:sort] %>  
      <p> <div class="input-group"> 
        <%= text_field_tag :search, params[:search], :class => "form-control" %> 
        <span class="input-group-btn"> 
          <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        </span>  
      </div> </p>  
      <% end %>
    </div>
  </div><!-- /.col-lg-6 -->
  <h1>Departments
  </br>
  <small><%= @departments.count()%> results
  </h1>
  <div class="table-responsive">
    <div id="department_index_table">
      <%= render 'layouts/department_index_table'%>
    </div> 
  </div>
