<%= render "layouts/department_titlecard" %>
<%= render 'layouts/department_graph' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @department.college %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @department.campus %>
</p>

<%= @department.course_ld_count.class %> <%= @department.course_ld_count %><br>
<%= @department.instructors_by_courses_taught %><br>
<% @department.set_rank %>

<%= @department.course_count %><br>

<bold>test test</bold>

<%= @department.instructors.count %>
<%= @department.courses.count %>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
