<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
  </head>

  <body>


     <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

              <ul class="nav nav-sidebar">
                <li><a>Courses: <%= @courses.count() %> </a></li>
                <li><a>Highest Overall Class: TODO </a></li>
                <li><a>Latest FCQ: TODO </a></li>
                <li><a>Earliest FCQ: TODO </a></li>
                <!-- TODO: These insturctor groups need to be translated -->
              </ul>
      </div>

    <title>Courses</title>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Courses</h2>
          <div class="table-responsive">
            <table class="table table-striped">

              <thead>
                <tr>
                  <th>Title</th>
                  <th>Course Number</th>
                  <th>Department</th>
                  <th>Instructor Count</th>
                </tr>
              </thead>
              
              <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td><%= link_to course.course_title, course %></td>
                  <td><%= course.crse %></td>
                  <td><%= link_to course.subject, course.department %></td>
                  <td><%= course.instructors.count()%>
                </tr>
              </tbody>
              <% end %>
            </table>
            <%= will_paginate @courses %>
          </div>
        </div>
      </div>
    </div>



