<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "Title", "course_title" %></th>
      <th><%= sortable "Course Number", "crse"%></th>
      <th><%= sortable "Department", "subject"%></th>
      <th><%= sortable "Instructor Count", "instructors_count"%></th>
      <th><%= sortable "Course Overall", "average_course_overall"%></th>
      <th><%= sortable "Fcq Count", "fcqs_count"%></th>
    </tr>
  </thead>
  
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.course_title, course %></td>
      <td><%= course.crse %></td>
      <td><%= link_to course.department.name, course.department %></td>
      <td><%= course.instructors_count %>
      <td><%= course.average_courseoverall%>
      <td><%= course.fcqs_count%>
    </tr>
  </tbody>
  <% end %>
</table>
<%= will_paginate @courses %>