<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <title><%= @fcq.capitalized_title %></title>
    
          <div class="page-header">
            <h1>
              <%= @fcq.yearterm_identifier %>
              <br><small>Course: <%= link_to @fcq.capitalized_title, @fcq.course %></small>
              <br><small>Instructor: <%= link_to @fcq.instructor.name, @fcq.instructor %></small>
              <br><small>Department: <%= link_to @fcq.department.long_name, @fcq.department %></small>
            </h1>
          </div>


          <table class="table table-striped">
            <caption class="text-left"><b>FCQ General</b>
            This table contains identifiable information about the fcq. This includes the yearterm, instructor, course, department, course level, and other identifiable information about the class or instructor</caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Year Term</td>
                  <td><%= @fcq.semterm %></td>
                </tr>
                <tr>
                  <td>Course</td>
                  <td><%= link_to @fcq.capitalized_title, @fcq.course %></td>
                </tr>
                <tr>
                  <td>Instructor</td>
                  <td><%= link_to @fcq.instructor.name, @fcq.instructor %></td>
                </tr>
                <tr>
                  <td>Department</td>
                  <td><%= link_to @fcq.department.long_name, @fcq.department %></td>
                </tr>
                <tr>
                  <td>Activity Type</td>
                  <td><%= @fcq.activity_type %></td>
                </tr>
                <tr>
                  <td>Credit Hours</td>
                  <td><%= @fcq.hours %></td>
                </tr>

                </tbody>
            </table>

            <table class="table table-striped">
            <caption class="text-left"><b>FCQ Meta</b>
            This table contains meta information about the fcq process. This includes the number of requested / returned forms, and how the forms were returned</caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fcqs collected online</td>
                  <td><%= @fcq.collected_online %></td>
                </tr>
                <!-- Commented out temporarilly -->
                <tr>
                  <td>Forms returned / requested</td>
                  <td><%= @fcq.requested_returned_string %></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped">
            <caption class="text-left"><b>FCQ Course Data</b>
            This table contains the averaged results of the fcq survey questions pertaining to the course.</caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Course Title</td>
                  <td><%= @fcq.capitalized_title %></td>
                </tr>
                <tr>
                  <td>Course Code</td>
                  <td><%= @fcq.subject %> <%= @fcq.crse %></td>
                </tr>
                <tr>
                  <td>Section</td>
                  <td><%= @fcq.section_string %></td>
                </tr>
                <tr>
                  <td>Course Level</td>
                  <td><%= @fcq.rank_string %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the course overall. All ratings are on a scale of 1 to 6." class="initialism"> Course Overall </abbr></td>
                  <td><%= @fcq.courseoverall.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate their personal interest in the material before they enrolled. All ratings are on a scale of 1 to 6." > Prior Interest </abbr></td>
                  <td><%= @fcq.priorinterest.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the intellectual challenge of the course. All ratings are on a scale of 1 to 6." > Course Challenge </abbr></td>
                  <td><%= @fcq.challenge.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate how much they have learned in this course. All ratings are on a scale of 1 to 6." > Amount Learned </abbr></td>
                  <td><%= @fcq.howmuchlearned.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students estimate the average number of hours per week they have spent on this course for all course-related work, including attending classes, labs, recitations, readings reviewing notes, writing papers, etc." > Average Workload </abbr></td>
                  <td><%= @fcq.hoursperwkinclclass %> hours per week</td>
                </tr>

                </tbody>
            </table>



                        <table class="table table-striped">
            <caption class="text-left"><b>FCQ Instructor Data</b>
             This table contains the averaged results of the fcq survey questions pertaining to the instructor.</caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Instructor</td>
                  <td><%= @fcq.instructor.name %></td>
                </tr>
                <tr>
                  <td>Instructor Group</td>
                  <td><abbr title="<%= @fcq.instructor.instr_group_flavor_text %>"> <%= @fcq.instr_group %> </abbr></td>
                </tr>
                  <td><abbr title="Students rate the instructors overall performance. All ratings are on a scale of 1 to 6."> Instructor Overall </abbr></td>
                  <td><%= @fcq.instructoroverall.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the instructor's effectiveness in encouraging interest in the subject. All ratings are on a scale of 1 to 6."> Instructor Effectiveness</abbr></td>
                  <td><%= @fcq.instreffective.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate the instructor's availability for course-related assistance such as email, office hours individual appointments, phone contact, etc. All ratings are on a scale of 1 to 6."> Instructor Availability </abbr></td>
                  <td><%= @fcq.availability.round(1) %></td>
                </tr>
                <tr>
                  <td><abbr title="Students rate this instructor's instrrespect for and professional treatment of all students regardless of race, color, national origin, sex, age, disability, creed, religion, sexual orientation, or veteran status. All ratings are on a scale of 1 to 6."> Instructor Respect </abbr></td>
                  <td><%= @fcq.instrrespect.round(1) %></td>
                </tr>

                </tbody>
            </table>

            <table class="table table-striped">
            <caption class="text-left"><b>Course Enrollment</b>
            This table contains information regarding the composition of students in the class, including the number of graded, pass/fail, withdrawn or incompletes.</caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Students Enrolled</td>
                  <td><%= @fcq.n_enroll %></td>
                </tr>
                <tr>
                  <td>Students Withdrawn</td>
                  <td><%= @fcq.n_withdrawn %></td>
                </tr>
                <tr>
                  <td>Students Incomplete</td>
                  <td><%= @fcq.n_withdrawn %></td>
                </tr>
                <tr>
                  <td>No Credit Students</td>
                  <td><%= @fcq.n_nocred %></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped">
            <caption class="text-left"><b>Grade Data</b>
            This table contains information regarding grades given for the class. It contains information regarding the number of students who passed the class, </caption>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><abbr title="Average GPA grade given for the class, with F average being 0.0, D average being 1.0, C average being 2.0, B Average being 3.0, A average being 4.0">Average GPA Grade</abbr></td>
                  <td><%= @fcq.avg_grd.round(2) %></td>
                </tr>
                <tr>
                  <td><abbr title="What percentage of the class received a C grade or higher">Percentage Passed</abbr></td>
                  <td><%= @fcq.percentage_passed_string %></td>
                </tr>

                </tbody>
            </table>
          <%= render 'layouts/grade_pie' %>



        </div>

  
