<header class="navbar navbar-fixed-top navbar-inverse">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <title>CU FCQ</title>  -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to "About Us", root_path %></li>
          <li><%= link_to "Fcqs", root_path %></li>
          <li><%= link_to "Search", root_path %></li>
          <li><%= link_to "Sign Up", root_path %></li>
          <li><%= link_to "Help", root_path %></li>
      </ul>
      <form class="navbar-form navbar-right">
          <%= form_tag(instructors_path, :method => "get", id: "form-inline") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Instructors" %>
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %> 

        <% end %>

    </div><!-- /.navbar-collapse -->
</header>
