<header class="navbar navbar-fixed-top navbar-inverse">

<script src="/assets/jquery.js" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js" type="text/javascript"></script>

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <a class="navbar-brand">CU FCQ</a>
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "About Us", '/about' %></li>
          <li><%= link_to "Instructors",'/instructors' %></li>
          <li><%= link_to "Courses",'/courses' %></li>
          <li><%= link_to "Departments",'/departments' %></li>
          <li><%= link_to "Help", '/help'%></li>
	   

	<!-- This is a working search box need to edit the css so it looks nice
	  <%= form_tag('/', :method => "get", id: "search-form") do %>
          <%= select_tag(:option,options_for_select([['Instructors', '/instructors'], ['Courses', '/courses'],['Departments','/departments']])) %>
          <%= text_field_tag :search, params[:search], :class => 'search' %>
          <%= submit_tag "Search", :name => nil, :class=>'button' %>
          <% end %>  
	--> 
       </ul>
    </div><!-- /.navbar-collapse -->
</header>
