<header class="navbar navbar-fixed-top navbar-inverse">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
`
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <a class="navbar-brand">CU FCQ</a>
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "About Us", '/about' %></li>
          <li><%= link_to "Instructors",'/instructors' %></li>
          <li><%= link_to "Courses",'/courses' %></li>
          <li><%= link_to "Departments",'/departments' %></li>
          <li><%= link_to "Help", '/help'%></li>
      </ul>
      <form class="navbar-form navbar-right">
          <%= form_tag(instructors_path, :method => "get", id: "form-inline") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %> 

        <% end %>

    </div><!-- /.navbar-collapse -->
</header>
