<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <!-- Bootstrap core CSS -->
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FCQ Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/help">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          </form>
        </div>
      </div>
    </nav>
    <title><%= @instructor.name %></title>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a>Instructor: <%= @instructor.name %><span class="sr-only">(current)</span></a></li>
            <!-- TODO Do we have working departments? -->
            <li><a href="/department">Department: <%= @instructor.department %></a></li>
          </ul>


          <ul class="nav nav-sidebar">
            <li><a>Earliest FCQ: <%= @instructor.started_teaching %></a></li>
            <li><a>Latest FCQ: <%= @instructor.latest_teaching %></a></li>
            <!-- TODO: These insturctor groups need to be translated -->
            <li><a>Instructor Group: <%= @instructor.instructor_group %></a></li>
          </ul>
          <ul class="nav nav-sidebar">

            <li><a>Courses Taught: <%= @instructor.courses_taught %></a></li>
            <li><a>Students Taught: <%= @instructor.total_requested %></a></li>
            <li><a>Average Overall: <%= @instructor.average_instructor_overall %></a></li>
            <li><a>Average Effectiveness: <%= @instructor.average_effectiveness %></a></li>
            <li><a>Average Availability: <%= @instructor.average_availability %></a></li>
            <!-- WEIRD RESULTS for average pass rate, see note in insturctor.rb -->
            <li><a>Average Pass Rate: <%=@instructor.pass_rate_string %></a></li>

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= @instructor.name %></h1>

          <div id="container" style="min-width: 350px; height: 350px; margin: 0 auto">
              
          <%= render 'layouts/instructor_graph' %>

          </div>

          <h2 class="sub-header">Courses Taught</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Percent Passed</th>
                  <th>Level</th>
                </tr>
              </thead>

              <tbody>
                <% @instructor.fcqs.each do |fcq| %>
                <tr>
                  <td><%= link_to fcq.fcq_object, fcq_path(fcq)%></td>
                  <td><%= fcq.percentage_passed_string()%></td>
                  <td><%= fcq.rank_string()%></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
