<div id="header-wrapper">
	<div id="header" class=<%= @instructor.instructor_type_string %>>
		<%= image_tag "instructor_64.png", alt: @instructor.instructor_group_flavor_text, title: @instructor.instructor_group_flavor_text%> <%= @instructor.full_name %><br>
		<table><tr><td>Courses Taught</td><td><big><%= @instructor.courses_taught %></big></td><td><div id="triangle-up"></div></td><td><bold><%= @instructor.total_requested %></bold></td><td>Students Taught</td></tr></table>
	</div>
</div>