<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "Instructor", "instructor_last" %></th>
      <th><%= sortable "Instructor Type", "instructor_group" %></th>
      <th>Department</th>
      <th>Courses Taught</th>
      <th><%= sortable "Earliest Fcq", "earliest_class" %></th>
      <th><%= sortable "Latest Fcq", "latest_class" %></th>
    <th><%= sortable "Instructor Overall", "average_instructor_overall" %></th>
    </tr>
  </thead>
  <tbody>
  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.name, instructor %></td>
      <td><%= instructor.instr_group %></td>
      <td><%= link_to instructor.department.name, instructor.department %></td>
      <td><%= instructor.courses_taught  %></td>
      <td><%= Fcq.semterm_from_int(instructor.started_teaching) %></td>
      <td><%= Fcq.semterm_from_int(instructor.latest_teaching) %></td>
      <td><%= instructor.average_instructoroverall %> / 6.0</td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= will_paginate @instructors %>