<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="http://code.highcharts.com/highcharts.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <title><%= @instructor.name %></title>
    <div class="container-fluid">
      <div class="row">
        <div class="page-header">

          <h1><%= @instructor.name %>
          <br><small>Department: <%= link_to @instructor.department.long_name, @instructor.department %></small>
          <br><small><abbr title="Number of FCQs associated with this course since Fall 2008. Includes recitations." >Sections Offered</abbr>: <b><%= @instructor.fcqs.count %></b></small>
          <br><small><abbr title="Number of instructors associated with this class since Fall 2008. Includes Teaching Assistants." >Courses Taught</abbr>: <b><%= @instructor.courses.count %></b></small>
          </h1>
        </div>
          <h1 class="page-header"><%= @instructor.name %></h1>

          <div id="container" style="min-width: 350px; height: 350px; margin: 0 auto">
          <%= render 'layouts/instructor_graph' %>
          </div>

          <h2 class="sub-header">Courses Taught</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Course</th>  
 		              <th>Level</th>
            		  <th>Instructor Overall</th>
            		  <th>Average GPA</th>
            		  <th>Percent Passed</th> 
                </tr>
              </thead>

              <tbody>
                <% @instructor.fcqs.each do |fcq| %>
                <tr>
                  <td><%= link_to fcq.fcq_object, fcq_path(fcq)%></td>
 		              <td><%= fcq.rank_string()%></td>                 
                  <td><%= fcq.instructor_overall_string%></td>
		              <td><%= fcq.avg_grd_string %></td>
                  <td><%= fcq.percentage_passed_string %></td> 
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  
